<!-- About Section -->
<section class="success" id="YaleReflection">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Yale Reflections</h2>
        <hr class="star-light">
      </div>
    </div>
    
    <div class="col-lg-12 text-left">
      <h3>What I Learned</h3>
        <ul>
          <li> Different aspects of IT </li>
          <li> ServiceNow </li>
          <li> Chatbots/ Virtual Agents </li>
          <li> How a Help Desk actually works? </li>
          <li> Incidents </li>
        </ul>
      <h3>What am I most proud of? </h3>
        <ul>
          <li> How many new things I learned this summer </li>
          <li> I was a lot more proactive this summer than I have been in the past </li>
        </ul>
   </div>
   
  </div>
</section>
