<!-- Career Interests and Goals section -->

<section class="second" id="Career">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Career Interests and Goals</h2>
                <hr class="star-dark">
            </div>
        </div>

        <div class="col-lg-12 text-left">
            <h3>What do I want to do next?</h3>
            <p> I am planning on trying to spend more time in school. I am a rising senior, but due to having multiple minors, I will be graduating a semester late. 
                Next summer, I plan on trying to find an internship that is more specific towards data science or software engineering. After that, I plan on trying 
                to get a masters in data science or machine learning.</p>

            <h3>Career Interests -- Roles</h3>
                <ul> 
                    <li> Data Scientist</li> 
                    <li> Software Engineer </li> 
                    <li> Quantitative Developer </li> 
                </ul>

            <h3>Career Goals</h3>

                <h4>Short Term</h4>
                <ul>
                    <li> Graduate College </li>
                    <li> Find a job in NYC or the NYC area </li>
                </ul>

                <h4>Long Term</h4>
                <ul>
                    <li> I have no idea </li>
                </ul>

        </div>

    </div>
</section>