<!-- Skills section -->

<section class="second" id="Skills">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Skills</h2>
                <hr class="star-dark">
            </div>
        </div>

        <div class="col-lg-12 text-left">
            <ul>
                <li> Excel </li>
                <li> Microsoft Docs </li>
                <li> Delegating Work </li> 
                <li> Understanding ServiceNow </li>
                <li> Teamwork </li>
            </ul>
        </div>

    </div>
</section>